site_name: Mahesh Rijal - Notes
site_description: Short snippets/scripts for quick reference, mostly related DevOps & Linux.
site_url: https://notes.maheshrijal.com/
site_author: Mahesh Rijal
repo_url: https://github.com/maheshrijal/notes
repo_name: maheshrijal/notes
edit_uri: edit/main/docs/
copyright: Copyright &copy;2024 <a href="https://maheshrijal.com" target="_blank" rel="noopener"> Mahesh Rijal</a>

theme:
  name: material
  font:
    text: Roboto
    code: Fira Code
    # logo: assets/logo.png
  icon:
    repo: fontawesome/brands/github
    logo: material/bookmark-box
    edit: material/pen
  favicon: images/favicon.png
  language: en
  features:
    - content.action.edit # Show a edit button on page
    - content.action.view # Show a view source button on page
    - navigation.instant #  clicks on all internal links will be intercepted and dispatched via XHR without fully reloading the page
    - navigation.tabs
    - search.suggest
    - search.highlight
    - search.share
    - navigation.top
    - content.code.copy
    - navigation.footer
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: light blue
      toggle:
        icon: material/weather-night
        name: Dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: green
      toggle:
        icon: material/weather-sunny
        name: Light mode
plugins:
  - search:
      lang: en
  - minify:
      minify_html: true
extra:
  social:
    - icon: fontawesome/solid/paper-plane
      link: https://maheshrijal.com/contact
      name: Contact me

    - icon: fontawesome/brands/github
      link: https://mrjl.me/github
      name: GitHub

    - icon: fontawesome/brands/mastodon
      link: https://mrjl.me/mastodon
      name: Mastodon

    - icon: fontawesome/brands/linkedin
      link: https://mrjl.me/linkedin
      name: LinkedIn

nav:
  - Ansible:
      - AdHoc Commands: "ansible/adhoc.md"
      - Snippets: "ansible/snippets.md"
  - AWS:
      - Infrastructure: "aws/infrastructure.md"
      - IAM: "aws/iam.md"
      - EC2: "aws/ec2.md"
      - S3: "aws/s3.md"
      - RDS: "aws/rds.md"
      - NOSQL: "aws/nosql.md"
      - VPC: "aws/vpc.md"
      - Logging: "aws/logging.md"
      - Route 53: "aws/route53.md"
      - Elasticache: "aws/elasticache.md"
      - Containers: "aws/containers.md"
      - CDN: "aws/cdn.md"
      - Cloudformation: "aws/cloudformation.md"
      - Availability & Scalability: "aws/ha.md"
      - Encryption: "aws/encryption.md"
      - Security: "aws/security.md"
      - Serverless: "aws/serverless.md"
      - Hybrid Environments: "aws/hybrid-environments.md"
      - Machine Learning: "aws/machine-learning.md"
      - "CLI": "aws/cli.md"
      - "Recap": "aws/recap.md"

  - Docker:
      - Docker Info: "docker/docker-info.md"
      - Docker Images: "docker/docker-images.md"
      - Container Management: "docker/container-management.md"
      - Docker Networking: "docker/networking.md"
      - Docker Storage & Volumes: "docker/storage.md"
      - Docker Compose: "docker/compose.md"

  - Linux:
      - Curl: "linux/curl.md"
      - VIM: "linux/vim.md"
      - WSL2: "linux/wsl.md"
      - Cron: "linux/cron.md"
      - Grep: "linux/grep.md"
      - TMUX: "linux/tmux.md"

  - Kubernetes:
      - Intro: "k8s/intro.md"
      - Architecture: "k8s/architecture.md"
      - kubectl: "k8s/kubectl.md"
      - Terminology: "k8s/terminology.md"
      - Examples: "k8s/examples.md"

  - Snippets: "snippets.md"

  - TIL ↗: https://maheshrijal.com/til

  - Blog ↗: https://maheshrijal.com/

markdown_extensions:
  - admonition
  - tables
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.snippets
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css
